html, body {
  background-color: #0A010A;
    color: white;
  font-family: "Cinzel", system-ui;
  margin: 0;
  overflo-x: hidden;
  font-size: 30px;
}
.slider{
  display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;
height: 100vh;
width: 100vw;
}
.slide{
  min-width: 100vw;
  display: inline-block;
  flex-direction: column;                                
    justify-content: center;
  align-items: center;
  scroll-snap-alingn: center;
}
.principal {
  background-image: url("fundo.png");
  background-repat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  align-items: flex-start;
  text-align: center;
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.botao{
  background-color: black;
  border-radius: 5px;
  passing: 1em;
  color: white;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin-left: 50px;
  width: 80vh;
}

.botao2{
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  passing: 1em;
  color: white;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
   margin-left: 50px;
  width: 80vh;
}
.botao:hover {
  background-color: blue;
  color: white
}

.botao2:hover {
  background-color: blue;
  color: white
    
 .imagem{
  height: 150px;
  marigin-left: 71px;
  
}
.aviso{
  color: silver;
    font-size: 13px;
  margin-left: 261px;
}

  .titulo{
    width: 100%;
    max-width: 600px;
    margin-left: 30px;
  }
  
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 55% 50% 50%;
}
  
  .menu{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-templae-columns: repeat(2,1fr);
    gap: 20px;
  }
  
  .menutitulo{
    color: grey;
    font-size: 50px;
    margin-bottom: 20px;
    text-decoration: double;
    text-align: center;
  }
  
  .menuitem{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px grey;
    overflow: hidden;
  }
  
  .menuimagem{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .menuinfo{
    padding: 20px;
  }
  
  .itemmenu{
    font-size: 25px;
    color: black;
  }
  
  .descricao2{
    font-size: 13px;
    color: grey;
    text-align: justify;
  }
  
  .preco{
    font-size: 20px;
    color: red(0,255,0);
    font-weight: bold;
    text-decoration: none;
  }
  
  .titulo2{
    font-size: 45px;
    color: white;
    margin-bottom: 1em;
    text-align: venter;
     font-family: "Cinzel", system-ui;
  }
  
  .secundario{
    align-items: center;
    margin: 0 1em;
    display: frid;
    grid-template-comumns: reapeat2,1fr);
    gap: 20px;
    margin-top: 60px;
  }
  
  .descricao{
     font-family: "Cinzel", system-ui;
    text-align: center;
    font-size: 25px;
  }
  
  .imagem2{
    width: 80%;
  }